* {
    margin: 0;
    padding: 0;
}

:root {
    --navbar-height: 59px;
}

#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#logo {
    margin: 2px 1px;
}

#logo img {
    height: 40%;
    width: 40%;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 12px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 505px;
    justify-content: center;
    align-items: center;

}

#home::before {
    content: "";
    position: absolute;
    background: url('../img1/bg1.jpg') no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: white;
    text-align: center;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.0rem;
}

#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: rgb(241, 237, 237);
    margin-bottom: 20px;
}

#services .box img {
    height: 160px;
    display: block;
    margin: auto;
}

#services .box p {
    color: none;
}

#client-section {
    height: 344px;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('../img1/bg2.jpg') no-repeat center center/cover;
    height: 60%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 5px;
}

#clients img {
    height: 184px;
}

#contact {
    position: none;
}

#contact::before {
    content: "";
    position: absolute;
    background: url('../img1/dosa-2069313_1280.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.5rem;
}
footer {
    background: black;
    color: white;
    padding: 9px;
}

.h-primary {
    font-size: 3.0rem;
    padding: 12px;
}

.h-primary {
    font-size: 2.0rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.0rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}